#logo { 
    display: block; 
    float: left; 
    margin: 15px 0; 
    padding: 0;
    width: 350px; //portion of the image you wish to display
    height: 100px; //portion of the image you wish to display
    overflow: hidden; //hide the rest of the image
    margin-left: 2000px;
    padding-left: 2000px;
}
#logo img {
    width: 350px; 
    height: 200px; // you'll see this is 2x the height of the viewed image
    padding: 0; 
    margin: 0;
}
#logo a { 
    display: block; 
    float: left; 
    margin: 0; 
    padding: 0; 
}
#logo a:hover { 
    margin-top: -50px;  //move up to show the over portion of the image
}
html {
    color : pink;
}

